<header>
  <div class="container">
    <h1>Andrew Au</h1>
    <h2><a href="mailto:i.am.andrew.au@gmail.com">I.Am.Andrew.Au@gmail.com - <i class="fa fa-envelope" aria-hidden="true"></i></a></h2>
    <h2>4A Computer Science, Co-op at University of Waterloo</h2>
    <section id="downloads">
      <a href="https://a-au.github.io" class="btn">Education</a>
      <a href="workexperience.html" class="btn">Work Experience</a>
      <a href="sideproj.html" class="btn">Side Projects</a>
      <a href="http://a-au.github.io/files/AndrewAuResume.pdf" class="btn">R&eacute;sum&eacute;</a>
      <a href="mailto:iamandrewau@gmail.com" class="btn">Email Me <i class="fa fa-envelope" aria-hidden="true"></i></a>
    </section>
  </div>
</header>
