<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Andrew Au",
    "alternateName": "Andrew W-H Au",
    "url": "https://A-Au.github.io"
  }
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://example.com/article"
  },
  "headline": "Andrew Au University of Waterloo Student",
  "image": {
    "@type": "ImageObject",
    "url": "https://f4.bcbits.com/img/a0481360314_16.jpg",
    "height": 700,
    "width": 700
  },
  "datePublished": "2016-09-25T00:00:00+00:00",
  "dateModified": "2016-09-25T00:00:00+00:00",
  "author": {
    "@type": "Person",
    "name": "Andrew Au"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Andrew Au",
    "logo": {
      "@type": "ImageObject",
      "url": "https://a-au.github.io/images/logo.png",
      "width": 448,
      "height": 60
    }
  },
  "description": "A most wonderful article"
}
</script>
