<div align="center"> 
    <a target="_blank" class="social-icons" href="https://ca.linkedin.com/in/andrew-w-h-au"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a target="_blank" class="social-icons" href="https://www.facebook.com/1l1l1l1l1l1l1l1l1l1l1l1l1l1l1l1l1l1l1l"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
    <a href="http://butterthebagel.bandcamp.com"><amp-img src="https://a-au.github.io/images/bandcamp.png" width=40 height=40 layout="fixed"></amp-img></a>
    <a target="_blank" class="social-icons" href="https://www.mixcloud.com/BUTTER_THE_BAGEL/"><i class="fa fa-mixcloud" aria-hidden="true"></i></a>
    <a target="_blank" class="social-icons" href="http://stackoverflow.com/users/6401844/butter-the-bagel"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
</div>
